{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Tarefas</h1>
    <a id="new-task" href="newtask/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar tarefa
        </div>
    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Nome da tarefa...">
        <i class="fas fa-search"></i>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
    <ul class="task-list">
        {% for task in tasks %}
        <li class="task-item">
            <span><a href="task/{{task.id}}">{{ task.title }}</a></span>
            <span><a href="delete/{{task.id}}"><i class="fas fa-trash"></a></i></span>
            <span><a href="edittask/{{task.id}}"><i class="fas fa-edit"></i></a></span>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    const search = document.getElementById('search');
    search.addEventListener('keyup', function () {
        const query = search.value;
        searchItems(query);
    });

    function searchItems(query) {
        const items = document.querySelectorAll('.task-item');
        items.forEach(function (item) {
            const itemText = item.innerText;
            if (itemText.toLowerCase().indexOf(query.toLowerCase()) != -1) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}